<h1> Dimension Reduction Through Variable Combination </h1>
<h3> Group 7 </h3>

In [1]:
##Import libraries
import pandas as pd
import numpy as np

In [23]:
##read in csvs
pitchingDF = pd.read_csv(r"C:\Users\Josh\Desktop\Jupyter Notebook\Project\cleansedPitchingDF.csv",index_col = 0)
hittingDF = pd.read_csv(r"C:\Users\Josh\Desktop\Jupyter Notebook\Project\cleansedHittingDF.csv", index_col = 0)

<h3> Hitting Values </h3>

In [25]:
## XBH - Extra Base Hits
hittingDF["XBH"] = hittingDF["2B"]+hittingDF["3B"]+hittingDF.HR
## SLG - Slugging (singles = hits - extra base hits)
hittingDF["SLG"] = ((hittingDF.H-hittingDF.XBH)+2*hittingDF["2B"]+3*hittingDF["3B"]+4*hittingDF.HR)/hittingDF.AB

In [26]:
##Batting Average
hittingDF["BA"] = hittingDF.H/hittingDF.AB

In [27]:
## OBP - On Base percentage
hittingDF["OBP"] = (hittingDF.H + hittingDF.BB + hittingDF.HBP)/(hittingDF.AB + hittingDF.BB + hittingDF.HBP + hittingDF.SF)

In [28]:
## OPS - On-Base Plus Slugging
hittingDF["OPS"] = (hittingDF.OBP + hittingDF.SLG)

In [29]:
## Clean up variables that are now accounted for and others that are no longer needed (Our analysis will only be using Log Salary)
hittingDF = hittingDF.drop(columns = ["stint","lgID","teamID","AB","H","2B","3B","HR","BB","HBP","throws","salary","RealSalary"])

In [30]:
hittingDF.sample(5)

,playerID,yearID,G,R,RBI,SB,CS,SO,IBB,SH,...,nameLast,nameGiven,bats,teamName,LogSalary,XBH,SLG,BA,OBP,OPS
1614,anderma02,2007,23,3,2.0,1.0,0.0,5.0,0.0,0.0,...,Anderson,Marlon Ordell,L,Los Angeles Dodgers,13.883847,0,0.230769,0.230769,0.310345,0.541114
2077,crabbca01,2008,21,4,2.0,1.0,0.0,6.0,0.0,0.0,...,Crabbe,Callix Sadeaq,B,San Diego Padres,12.982524,1,0.205882,0.176471,0.282051,0.487934
4723,doziebr01,2015,157,101,77.0,12.0,4.0,148.0,2.0,0.0,...,Dozier,James Brian,R,Minnesota Twins,14.521194,71,0.444268,0.235669,0.306818,0.751086
4804,johnsre02,2015,17,0,3.0,0.0,0.0,6.0,0.0,0.0,...,Johnson,Reed Cameron,R,Washington Nationals,13.828047,1,0.272727,0.227273,0.250000,0.522727
524,felizpe01,2004,144,72,84.0,5.0,2.0,85.0,1.0,0.0,...,Feliz,Pedro Julio,R,San Francisco Giants,13.892442,58,0.485089,0.276342,0.305085,0.790174

<h3> Pitching </h3>

In [32]:
##Clean Up Variables
pitchingDF = pitchingDF.drop(columns = ["stint","lgID","teamID","bats","salary","RealSalary"])

In [33]:
pitchingDF.sample(5)

,playerID,yearID,W,L,G,GS,CG,SHO,SV,IPouts,...,R,SH,SF,GIDP,nameFirst,nameLast,nameGiven,throws,teamName,LogSalary
2219,sanchjo01,2008,9,12,29,29,0,0,0,474,...,90,9.0,5.0,13.0,Jonathan,Sanchez,Jonathan Omar,L,San Francisco Giants,12.995264
2858,jurrjja01,2010,7,6,20,20,0,0,0,349,...,63,7.0,4.0,10.0,Jair,Jurrjens,Jair Francoise,R,Atlanta Braves,13.177457
4470,leagubr01,2014,2,3,63,0,0,0,0,189,...,23,4.0,3.0,15.0,Brandon,League,Brandon Paul,R,Los Angeles Dodgers,15.844136
540,kochbi01,2004,1,1,24,0,0,0,8,70,...,15,0.0,2.0,1.0,Billy,Koch,William Christopher,R,Chicago White Sox,15.907345
5068,wadats01,2015,1,1,8,7,0,0,0,97,...,14,1.0,1.0,2.0,Tsuyoshi,Wada,Tsuyoshi,L,Chicago Cubs,15.214341

<h3> Export Data </h3>

In [34]:
pitchingDF.to_csv("combinationPitchingDF.csv")
hittingDF.to_csv("combinationHittingDF.csv")